/* Global styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.header,
.cards-container,
.tab,
.tabcontent {
  width: 100%;
  max-width: 1200px;
}

.button {
  width: 160px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: #45a049;
  }
}

.header {
  text-align: center;
  font-size: 20px;
}

/* Cards styles */
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 20px;

  .amount {
    font-size: 20px;
  }
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tab styles */
.tab {
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;

  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      color: #333333;
      border-bottom: 3px solid #4caf50;
    }
  }
}

/* Table styles */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
  }
}

.table-container {
  width: 100%;
  overflow: auto;
  max-height: 300px;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  thead {
    background-color: #4caf50;
    color: #fff;
    position: sticky;
    top: 0;
  }

  th,
  td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.deposit {
      color: #4caf50;
    }

    &.withdraw {
      color: red;
    }
  }

  tbody {
    tr:hover {
      background-color: #f1f1f1;
    }
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Form styles */
form {
  label {
    margin-top: 10px;
    color: #333;
  }
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .radio-group {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
